<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="off">

	<!-- Define properties -->
	<Properties>
		<property name="basePath">./logs</property>
		<!-- 
		<Property name="logPath">logs</Property>
		<Property name="logFileName">app.log</Property>
		<Property name="logLevel">info</Property>
		<Property name="filePattern">${logPath}/app-%d{MM-dd-yyyy}-%i.log.gz</Property>
		-->
	</Properties>

	<Appenders>
		<!-- Console Appender -->
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout>
				<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} -
					%msg%n</Pattern>
			</PatternLayout>
		</Console> 

		<!-- Rolling File Appender using properties -->
		<RollingFile name="File" fileName="${basePath}/Automation.log"
			filePattern="${basePath}/automation-%d{yyyy-MM-dd}">
			<PatternLayout>
				<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5p %c{1.} - %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<!-- <TimeBasedTriggeringPolicy interval="1" modulate="true" /> -->
				<SizeBasedTriggeringPolicy size="10MB" />
			</Policies>
		</RollingFile>
	</Appenders>

	<Loggers>
		<!-- Root logger references the console and rolling appenders -->
		<!-- <Root level="${logLevel}"> -->
		<Root level="off"> <!-- Here you can use multiple log levels  All < Trace
			< Debug < info < warn < error < fatal < off -->
			<!--<AppenderRef ref="Console"/> -->
			<AppenderRef ref="File" />
		</Root>
	</Loggers>

</Configuration>